@CHARSET "UTF-8";

.bodyback {
  background-color:#a2ff44;
}
main > .container {
  padding: 60px 15px 0;
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
    /*margin-top:65px;*/
}

.toplittle{
    margin-top:70px;
}

footer {
    width: 100%;
    padding: 30px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
}

footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

table#user_list td{
    width: 29%;
    padding: 10px 2%;
}

#flush_success{
    font-size: 20px;
    color: #007900;
    background-color: #80ff80;
    text-align:center;
}

#flush_error{
    color: #ff0000;
    background-color: #ffacac;
    text-align:center;
}

.w-30{
    width:30%;
}

.w-12{
    width:12%;
}

table#score_rate td{
    text-align:right;
}

/* フラッシュメッセージ用のアニメーション */
.fadein{
    opacity: 0;
    animation: fadeIn 2.0s ease-out 0.3s normal;
    animation-fill-mode: forwards; /* アニメーション後、表示はそのままにしておく */
}

@keyframes fadeIn{
    0% {opacity: 0}
    100% {opacity: 1}
}

tr.row1{
    background-color: #f2f2f2;
}

tr.row0{
    background-color: #ffffff;
}

/* boostrapのborderの太さを変更 */
.border-5{
    border-style:solid;
    border-width:5px;
}

