@CHARSET "UTF-8";

.bodyback {
  background-color:#a2ff44;
}
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

table#user_list td{
    width: 29%;
    padding: 10px 2%;
}

#user_name{
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}